build/
install/
log/

scripts/CTC_Analysis
scripts/DNN_Analysis

scripts/__pycache__/
scripts/logs/
scripts/Joint_states/
scripts/plots/
scripts/joint_states_dof/
scripts/plots_dof/
scripts/joint_states_2dof/
scripts/plots_2dof/
scripts/controller/*/__pycache__/
scripts/controller/*/logs/
scripts/Demo_controller/demo_logs/
scripts/Demo_controller/demo_trajectories/

trajectory comparison plots/

new_generatedDataset*/
script_resources/